<nav>
  <div id="logo-container">
    <h1>MatTMDB</h1>
    <input type="text" name="query" id="search-input" class="search" placeholder="Search a Movie, TV Show or Person..">
  </div>

  <ul id="nav-bar">

    <li class="active"><a routerLink="" routerLinkActive=”clase-que-indique-activo”>Home</a></li>

    <li id="register-btn" *ngIf="!session.userId" (click)="toggleRegister()"><a
      >Register</a></li>

    <li id="login-btn" *ngIf="!session.userId" (click)="toggleLogin()"><a >Login</a></li>

    <li id="profile-dropdown" class="dropdown" *ngIf="session.userId">
      <a id="username" class="dropbtn">{{session.username}} <img class="fa fa-caret-down" src="../../../assets/drop-down-arrow-16px.png" alt="Username {{session.username}} menu"></a>
      <div class="dropdown-content">
        <a id="profile-btn" routerLink="/profile" routerLinkActive=”clase-que-indique-activo”>Profile</a>
        <a id="favorites-btn" routerLink="/favorites" routerLinkActive=”clase-que-indique-activo”>Favorites</a>
        <a id="logout-btn" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>

</nav>

<app-register *ngIf="showRegisterStatus"></app-register>
<app-login *ngIf="showLoginStatus"></app-login>

