<div class="modal">
  <div class="modal-content">
      <span class="close" (click)="closeDetails()">x</span>
      <div *ngIf="media" id="modal-inner-content">

        <!--// TMDB "poster_sizes": ["w92", "w154", "w185", "w342", "w500", "w780", "original"]-->

        <img *ngIf="mediaType === 'movie' && videoActive === false" class="big-card-image" src="https://image.tmdb.org/t/p/w780{{media.backdrop_path}}" alt="{{media.title}} Image">
        <img *ngIf="mediaType === 'movie' && videoActive === false && !media.backdrop_path" class="big-card-image" src="../../../assets/not-found.jpg" alt="{{media.title}} Image">


        <img *ngIf="mediaType === 'tv' && videoActive === false" class="big-card-image" src="https://image.tmdb.org/t/p/w780{{media.backdrop_path}}" alt="{{media.name}} Image">

        <iframe id="youtube-video" *ngIf="videoActive === true" [src]="sanitizedVideoUrl" type="text/html" width="720" height="405" allowfullscreen="">

        </iframe>

        <a class="video-button" *ngIf="videoActive === false && media.backdrop_path" (click)="showVideo()">Show video</a>

        <a class="video-button" *ngIf="videoActive === true" (click)="showVideo()">Hide video</a>

        <a class="favorite-button" *ngIf="session.userId && !isFavorite" (click)="toggleFavorite(session.userId, media)">Add to Favorites</a>
        <a class="favorite-button" *ngIf="session.userId && isFavorite" (click)="toggleFavorite(session.userId, media)">Remove from Favorites</a>

        <div class="big-card-text-container">
          <h1 *ngIf="mediaType === 'movie'">{{media.title}}</h1>
          <h1 *ngIf="mediaType === 'tv'">{{media.name}}</h1>
          <h2>{{media.tagline}}</h2>
          <p>{{media.overview}}</p>
        </div>

      </div>

  </div>

</div>
